!.fleet/*.json
!.vscode/*.json
!.zed/*.json
*.iml
*.ipr
*.iws
*.log
*.tar
*.tgz
*.zip
.classpath
.DS_Store
.env
.flatpak-builder/
.fleet/
.idea/
.project
.settings/
.tool-versions
.vscode/
.zed/
build/
desktop.ini
repo/
Thumbs.db
