# ==================================================================================================
#   Git Configuration for File Attributes
# ==================================================================================================

* text eol=lf
