[Desktop Entry]
# REQUIRED
Name=DataGrip
Type=Application
# OPTIONAL
Categories=Development;IDE;
Comment=The Cross-Platform IDE for Databases and SQL
Exec=datagrip
Icon=com.jetbrains.DataGrip
Keywords=database;ide;sql;
StartupNotify=false
StartupWMClass=jetbrains-datagrip
Terminal=false
Version=1.0
