[Desktop Entry]
Categories=Development;IDE;
Comment=Your powerful cross-platform IDE for relational and NoSQL databases
Exec=datagrip-wrapper
GenericName=Tool for multiple databases
Icon=com.jetbrains.DataGrip
Keywords=database;ide;sql;
Name=DataGrip
StartupNotify=false
StartupWMClass=jetbrains-datagrip
Terminal=false
Type=Application
