[Desktop Entry]
Categories=Development;IDE;
Comment=IDE for Databases and SQL
Exec=datagrip
Icon=com.jetbrains.DataGrip
Keywords=database;sql;
Name=DataGrip
Terminal=false
Type=Application
StartupNotify=true
StartupWMClass=jetbrains-datagrip
